
<div class="container">
  <div class="column">
    <div>
      <label>Search for a word:</label>
      <input value="<%= @word %>"
             phx-keyup="update_word"
             phx-debounce="200"/>
    </div>

    <p><%= @language %>, <%= @word %>, <%= @request_id %></p>
  </div>

  <div class="fixed-container">
    <%= for {language, info} <- @languages_map do %>
      <h1><%= language %></h1>
      <p><%= inspect(info) %></p>
    <% end %>
  </div>
</div>
